:root {
    --main-white: #fff;
    --main-black: #11181c;
    --light-gray: #8f8f8f;
    --sub-gray: #f8f9fa;
    --rose: #f3e7e9;
    --yellow-violet: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    --beige-blue: linear-gradient(to right, #fff1eb 0%, #ace0f9 100%);
    --rose-blue: linear-gradient(to right, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    --blue-gray: #5e6687;
    --rose-sub: #f4eeef;
    --blue: #067acc;
}

html,
body {
    color: var(--main-black);
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, sans-serif;
}

hr {
    width: 92%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

nav > ol {
    list-style: square;
    font-weight: 700;
    font-size: 18px;
    padding: 3px;
    border-bottom: solid 1.2px;
}

a[class*='toc-link'] {
    color: var(--blue);
}

li > ol {
    list-style: square inside;
}

/* code-title */
.rehype-code-title {
    background: var(--beige-blue);
    padding: 0.1rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: solid 1px var(--light-gray);
    border-bottom: none;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: var(--light-gray);
}

pre[class*='language-'],
code[class*='language-'] {
    margin: 0;
}

pre[class*='language-'] {
    border: solid 1px var(--light-gray);
    background: var(--sub-gray);
    overflow: auto;
    position: relative;
    padding: 20px 25px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: var(--blue-gray);
}

code[class*='language-'] {
    font-family: Söhne Mono, menlo, monospace;
    display: block;
}

span[class*='token'] {
    font-size: 12.8px;
}

span.code-line {
    display: block;
    font-size: 12.8px;
}

code[class*='language-'] > span {
    display: block;
}

:not(pre) > code[class*='language-'] {
    padding: 0.1em;
    border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #898ea4;
}

.token.punctuation {
    color: #5e6687;
}

.token.namespace {
    opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
    color: #a88dda;
}

.token.property {
    color: #d392ef;
}

.token.tag {
    color: #3d8fd1;
}

.token.string {
    color: #22a2c9;
}

.token.selector {
    color: #6679cc;
}

.token.attr-name {
    color: #81cbcd;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #22a2c9;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
    color: #9fc4f7;
}

.token.statement,
.token.regex,
.token.atrule {
    color: #22a2c9;
}

.token.placeholder,
.token.variable {
    color: #3d8fd1;
}

.token.deleted {
    text-decoration: line-through;
}

.token.inserted {
    border-bottom: 1px dotted #202746;
    text-decoration: none;
}

.token.italic {
    font-style: italic;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.important {
    color: #c94922;
}

.token.entity {
    cursor: help;
}

pre > code.highlight {
    outline: 0.4em solid #c94922;
    outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
    border-right-color: #dfe2f1;
}

.line-numbers .line-numbers-rows > span:before {
    color: #979db4;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight.line-highlight {
    background: rgba(107, 115, 148, 0.2);
    background: -webkit-linear-gradient(left, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
    background: linear-gradient(to right, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
}

/*
Name:       Base16 Atelier Sulphurpool Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)
Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

@media (max-width: 420px) {
    span.code-line {
        font-size: 9px;
    }
    span[class*='token'] {
        font-size: 9px;
    }
}
