:root {
    --colors-white1: #fff;
    --colors-black1: #11181c;
    --colors-black2: #3d4144;
    --colors-black3: #37352f;
    --colors-indigo1: #24292f;
    --colors-indigo2: #5e6687;
    --colors-blue1: #0969da;
    --colors-blue2: #9fc4f7;
    --colors-blue3: #ddf4ff;
    --colors-gray1: #57606a;
    --colors-gray2: #8f8f8f;
    --colors-gray3: #b1b5bc;
    --colors-gray4: #d0d7de;
    --colors-gray5: #eeeff2;
    --colors-gray6: #f6f8fa;
    --colors-gray7: rgb(238 238 238 / 62%);
    --colors-pink1: #e96e65;
    --code-violet: #d392ef;
    --code-black: #282c34;
    --font-size1: 0.75rem;
    /* 12px */
    --font-size2: 0.875rem;
    /* 14px */
    --font-size3: 1rem;
    /* 16px */
    --font-size4: 1.25rem;
    /* 20px */
    --font-size5: 1.5rem;
    /* 24px */
    --font-size6: 1.875rem;
    /* 30px */
}

html,
body {
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, sans-serif;
    color: var(--colors-black1);
    margin: 0;
    padding: 0;
    font-size: 100%;
}

@media (max-width: 480px) {
    html,
    body {
        font-size: 80%;
    }
}

a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.image {
    width: 100%;
    height: auto;
}
